.header-text {
  color: rgb(142, 208, 236);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #96bed6;
  color: #cabfbf;
  padding: 10px;
}

.iceCreamList {
  display: flex;
  justify-content: center; /* Center the iceCreamList */
}

.separator {
  margin: 0 20px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(246, 235, 219);
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #8abcf3;
  color: #ffffff;
  cursor: pointer;
}

#iceCream {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(232, 219, 219, 0.1);
  color: rgb(8, 113, 113);
  margin: 0 auto;
}

#iceCream h2 {
  color: #64a0df;
  margin-bottom: 10px;
}

button {
  background-color: #6b89b9;
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
}